
.custom-container{
    max-width: 85%;
    margin: 0 auto;
}

.headerB0x{
    box-shadow: 0px 3px 6px #31313129;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;
}
.Subscripty {
    border: 5px solid #543FED;
    
}
.Subscripty a{
    text-decoration: none;
    font: normal normal bold 30px/35px Raleway;
    color: #543FED;
}
.links a{
    text-decoration: none;
    font: bold 20px/24px Raleway;
}
.login {
    color: #35217E;
    border: 2px solid #35217E;
    border-radius: 2.2rem;
    /* border-radius: 35px; */
}
.login:hover{
    color: #FFFFFF;
    background-color:#35217E ;
}
.sign-up {
    background: #35217E 0% 0% no-repeat padding-box;
    border: 2px solid #35217E;
    color: #FFFFFF;
    border-radius: 35px;
}
.sign-up:hover{
    color: #35217E !important;
    background-color: #FFFFFF ;
}

/* =================== */

section .login-image{
    background: url('../images/Group 3030.png');
    /* width: 50%; */
    height: 100vh;
    max-width: 100%;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    position: relative;
}
.image-text{
    font: normal normal bold 50px/80px Raleway;
    color: #FFFFFF;
}
.login-image{
    position: relative;
}
.image-text{
    position: absolute;
    left: 10%;
    bottom: 20%;
}
.login-form{
    padding-top: 5rem;
    padding-left: 3.8rem !important;
    padding-right: 0 !important;
}
.form h1{
    font: bold 40px/80px Raleway;
    padding-bottom: 3rem;
}

.arrow-link{
    color:#543FEE;
    margin-right: 25%; 
    margin-top: 2rem; 
}
.form-control{
    border-radius: 0rem !important;
}
.form-border{
    font:  bold 20px/24px Raleway;
    background-color:#543FEE;
    border-radius: 2.2rem;
}
.form-font{
    font:  bold 16px/19px Raleway;
}
.input-border{
    height: 3.5rem;
}



/* ==================   Media Query  ============== */

@media screen and (max-width:768px) {
    .image-text{
        left: 10%;
        bottom: 20% !important;
        font:  bold 30px/40px Raleway;
    }
    .Subscripty a{
        font-size: 20px;
    }
    .login-form{
        padding-top: 1rem;
        padding-left: 0rem !important;
    }
    .login-image{
        height: 50vh !important;
    }
   .form h1{
    padding-top: 1rem ;
    font: bold 30px/40px Raleway;
    }
   .input-border{
    width: 90% !important;
    height: 2.5rem;
    }
   .arrow-link{
    margin-right: 10%;
    margin-left: 1.5rem;  
    }
    .form-item{
    margin-left: 4rem !important;
    }
   .form-btn{
    width: 75% !important;
    margin-left: 3.7rem !important;
    }
    .btn-lg{
    font-size: 1.5rem !important;
    }
}


@media screen and (max-width:1024px){
    .header{
       gap: 1rem;
    }
    .login-form{
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
    .login-image{
        height: 50vh !important;
   }
    .form-item{
        margin-left: 0rem;
    }
    .form-btn{
    width: 100% ;
    margin-left: 0rem;
    }
    .btn-lg{
        font-size: 1rem !important;
    }
    .form h1{
        font: bold 30px/40px Raleway !important;
        padding-top: 1.2rem !important;
    }
    .image-text{
        font:  bold 35px/45px Raleway;
        left: 10%;
        bottom: 20%;
    }
    
} 


